$color__accent: #f86800;
$color__secondary-accent: #476df4;
$color__primary: #0f0f11;
$color__secondary: #89939a;
$color__icons: #b4bdc3;
$color__elements: #e2e6e9;
$color__hover-and-bg: #fafbfc;
$color__white: #ffffff;
$color__green: #27ae60;
$color__red: #eb5757;
