$color__accent: #F86800;
$color__secondary-accent: #476DF4;
$color__primary: #0F0F11;
$color__secondary: #89939A;
$color__icons: #B4BDC3;
$color__elements: #E2E6E9;
$color__hover-and-bg: #FAFBFC;
$color__white: #FFFFFF;
$color__green: #27AE60;
$color__red: #EB5757;
