@import '../utils/mixins/mixin-media';
@import '../utils/variables/colors';

.container {
  max-width: 1136px;
  padding: 0 16px;
  background-color: $color__hover-and-bg;

  &__DARK {
    background-color: $color__dark-theme__black;
  }

  @include onTablet {
    padding: 0 24px;
  }

  @include onDesktop {
    width: 100%;
    padding: 0 32px;
    margin-inline: auto;
  }
}

