@import '../../../../styles/blocks/grid';
@import '../../../../styles/utils/variables/colors';
@import '../../../../styles/utils/mixins/mixin-media';
@import '../../../../styles/utils/mixins/mixin-typography';

.shopByCategory {
  padding-block: 3.6rem;
  padding-inline: 1rem;
  max-width: 1200px;
  margin: 0 auto;
  @include onTablet {
    margin-block: 4rem;
    padding-inline: 1.5rem;
  }

  &__title {
    margin-bottom: 1.5rem;
    @include h2-typography;
  }

  &__titleDark {
    color: $color__dark-theme__white;
  }

  &__container {
    @extend .grid;
  }

  &__article {
    margin-bottom: 32px;
    grid-column: span 4;
    color: $color__primary;
    text-decoration: none;
    @include onTablet {
      margin-bottom: 0;
    }

    @include onDesktop {
      grid-column: span 8;
    }
  }

  &__subtitle {
   @include h4-typography;
  }

  &__content {
    color: $color__secondary;
    @include bodyText-typography;
  }

  &__contentDark {
    color: $color__dark-theme__secondary;
  }

  &__imgContainer {
    position: relative;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    height: calc(100vw * 0.5);
    min-height: 288px;
    border-radius: 8px;
    margin-bottom: 1.5rem;
    overflow: hidden;

    @include onTablet {
      max-width: 400px;
      min-height: 177px;
      height: calc(100vw * 0.3);
    }

    @include onDesktop {
      max-height: 368px;
    }
  }

  &__imgPhones {
    background-color: #6D6474;
  }

  &__imgDark {
    border-radius: 0px;
  }

  &__imgTablets {
   background-color: #D3D3D3;
  }

  &__imgAccessories {
    background-color: #D53C51;
  }

  &__picture {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    left: 10%;
    top: 10%;
    transition: transform 0.3s ease;
  }

  &__pictureTablet {
    left: 7%;
    top: 5%;
  }

  &__pictureAccessories {
    left: 3%;
    top: 0%;
  }

  &__imgContainer:hover &__picture {
    transform: scale(1.2);
  }
}

.shopByCategoryDark {
  background-color: $color__dark-theme__black;
}


