@import '../../../../src/styles/utils/variables/colors';

@mixin onTablet {
  @media (max-width: 640px) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: 1200px) {
    @content;
  }
}

.footer {
  justify-content: center;
  display: flex;
  bottom: 0;
  padding: 32px 0;
  width: 100%;
  background: $color__white;
  box-shadow: 0px -1px 0px 0px $color__elements;

  &__dark {
    position: fixed;
    bottom: 0;
    padding: 32px 0;
    width: 100%;
    box-shadow: 0px -1px 0px 0px $color__dark-theme__elements;
    background: $color__dark-theme__black;
    justify-content: center;
    display: flex;

    @include onDesktop {
      justify-content: center;
      display: flex;
    }

    @include onTablet {
      justify-content: flex-start;
      padding: 32px 0;
      margin: 0;
      flex-direction: column;
      height: 175px;
    }
  }

  @include onDesktop {
    justify-content: center;
    display: flex;
  }

  @include onTablet {
    justify-content: flex-start;
    padding: 32px 0;
    margin: 0;
    flex-direction: column;
    height: 175px;
  }
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 32px;
  height: 32px;
  align-items: center;


  @include onDesktop {
    max-width: 1200px;
  }

  @include onTablet {
    margin: 0 16px;
    gap: 32px;
    flex-direction: column;
    align-items: flex-start;
  }
}

.return_button,
.return_button__dark {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;

  @include onTablet {
    align-self: center;
    justify-content: center;
  }
}

.nav_center {
  display: flex;
  width: 33%;
  justify-content: space-between;

  @include onTablet {
    flex-direction: column;
    gap: 16px;
  }
}

.nav_text {
  text-decoration: none;
  display: flex;
  color: $color__secondary;
  font-family: 'Mont', sans-serif;
  font-size: 12px;
  font-weight: 800;
  text-transform: uppercase;
  justify-content: space-between;
  padding: 18px 12px;

  &__dark {
    text-decoration: none;
    display: flex;
    color: $color__dark-theme__white;
    font-family: 'Mont', sans-serif;
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    justify-content: space-between;
    padding: 18px 12px;

    @include onTablet {
      padding: 0;
    }
  }

  @include onTablet {
    padding: 0;
  }
}

.nav_logo {
  height: 32px;
  display: flex;
  justify-content: flex-start;

  &__dark {
    height: 32px;
    display: flex;
    justify-content: flex-start;
  }
}

.button_top {
  display: flex;
  color: $color__secondary;
  font-family: 'Mont', sans-serif;
  font-size: 12px;
  font-weight: 800;
  text-decoration: none;
}

.button_logo {
  height: 32px;
  width: 32px;
  display: flex;
}
