@font-face {
  font-family: 'Mont';
  src: url('../../../fonts/Mont-Regular.ttf');
}

.footer {
  position: fixed;
  bottom: 0;
  padding: 32px 0;
  width: 100%;
  background: #FFF;
  box-shadow: 0px -1px 0px 0px #E2E6E9;
  justify-content: center;
  display: flex;

  &__dark {
    position: fixed;
    bottom: 0;
    padding: 32px 0;
    width: 100%;
    box-shadow: 0px -1px 0px 0px #3B3E4A;
    background: #0F1121;
    justify-content: center;
    display: flex;
  }
}


.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 32px;
  height: 32px;
  align-items: center;
}

.return_button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.nav_center {
  display: flex;
  width: 33%;
  justify-content: space-between;
}

.nav_text {
  text-decoration: none;
  display: flex;
  color: #89939A;
  font-family: 'Mont', sans-serif;
  font-size: 12px;
  font-weight: 800;
  text-transform: uppercase;
  justify-content: space-between;

  &__dark {
    text-decoration: none;
    display: flex;
    color: #F1F2F9;
    font-family: 'Mont', sans-serif;
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    justify-content: space-between;
  }
}

.nav_logo {
  height: 32px;
  display: flex;
  justify-content: flex-start;

  &__dark {
    height: 32px;
    display: flex;
    justify-content: flex-start;
  }
}

.button_top {
  display: flex;
  color: #89939A;
  font-family: 'Mont', sans-serif;
  font-size: 12px;
  font-weight: 800;
  text-decoration: none;
}

.button_logo {
  height: 32px;
  width: 32px;
  display: flex;
}


@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
  .footer,
  .footer__dark {
    justify-content: center;
    display: flex;
  }
}

@media (max-width: 320px) {
  .container {
    margin: 0 16px;
    gap: 32px;
    flex-direction: column;
    align-items: flex-start;
  }
  .footer,
  .footer__dark {
    justify-content: flex-start;
    padding: 32px 0;
    margin: 0;
    flex-direction: column;
    height: 175px;
  }
  .nav_center {
    flex-direction: column;
    gap: 16px;
  }

  .return_button,
  .return_button__dark {
    align-self: center;
    justify-content: center;
  }
}
