@import '../../../styles/blocks/grid';
@import '../../../styles/utils/variables/colors';
@import '../../../styles/utils/mixins/mixin-media';

.shopByCategory {
  padding-block: 57px;
  padding-inline: 16px;
  max-width: 1200px;
  margin: 0 auto;
  @include onTablet {
    margin-block: 64px;
    padding-inline: 24px;
  }

  &__title {
    margin-bottom: 24px;
    font-size: 22px;
    font-weight: 800;
    line-height: 140%;

    @include onTablet {
      font-size: 32px;
      line-height: 128%;
      letter-spacing: -0.32px;
    }
  }

  &__titleDark {
    color: #F1F2F9;
  }

  &__container {
    @extend .grid;
  }

  &__article {
    margin-bottom: 32px;
    grid-column: span 4;
    color: $color__primary;
    text-decoration: none;
    @include onTablet {
      margin-bottom: 0;
    }

    @include onDesktop {
      grid-column: span 8;
    }
  }

  &__subtitle {
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
  }

  &__content {
    color: $color__secondary;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
  }

  &__contentDark {
    color: #75767F;
  }

  &__imgContainer {
    position: relative;
    width: 100%;
    height: calc(100vw * 0.85);
    min-height: 288px;
    border-radius: 8px;
    margin-bottom: 24px;
    overflow: hidden;

    @include onTablet {
      min-height: 177px;
      height: calc(100vw * 0.3);
    }

    @include onDesktop {
      max-height: 368px;

    }
  }

  &__imgPhones {
    background-color: #6D6474;
  }

  &__imgDark {
    border-radius: 0px;
  }

  &__imgTablets {
   background-color: #D3D3D3;
  }

  &__imgAccessories {
    background-color: #D53C51;
  }

  &__picture {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    left: 10%;
    top: 10%;
    transition: transform 0.5s ease;
  }

  &__pictureTablet {
    left: 7%;
    top: 5%;
  }

  &__pictureAccessories {
    left: 3%;
    top: 0%;
  }

  &__imgContainer:hover &__picture {
    transform: scale(1.2);
  }
}

.shopByCategoryDark {
  background-color: #0F1121;
}


