@import '../../../../styles/utils/mixins/mixin-typography';
@import '../../../../styles/utils/variables/colors';
@import '../../../../styles/utils/mixins/mixin-media';

.colorCapacity{
  padding-top: 2.5rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  grid-column: span 4;

  &__DARK {
    background-color: $color__dark-theme__black;
  }
}

.content {
  display: flex;
  justify-content: space-between;
  color: $color__secondary;
  @include smallText-typography;

  &__DARK {
    color: $color__dark-theme__secondary;
  }
}

.contentContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid $color__elements;
}

.buttonContainer {
  display: flex;
  gap: 8px;
}

.colorButton {
  width: 32px;
  height: 32px;
  padding: 2px;
  border: 1px solid $color__elements;
  border-radius: 36px;
  background-color: $color__white;
  cursor: pointer;
  transition: border-color 0.3s ease;

  &:hover {
     border-color:$color__icons;
  }

  &__ACTIVE {
    border-color: $color__primary;
  }

  &__DARK {
    background-color: $color__dark-theme__black;
    border-color: $color__dark-theme__elements;

    &:hover {
      border-color: $color__dark-theme__secondary;
    }

    &__ACTIVE {
      border-color: $color__dark-theme__white;
    }
  }
}

.colorButtonInside {
  border-radius: 36px;
  width: 100%;
  height: 100%;
}

.colorContent {
  opacity: 0;
}

.capacityButton {
  padding: 8px 7px 4px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid $color__icons;
  text-align: center;
  color: $color__primary;
  cursor: pointer;
  @include bodyText-typography;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }

  &__DARK {
    border-color: $color__dark-theme__icons;
    color: $color__dark-theme__white;
    border-radius: 0;
  }

  &__ACTIVE {
    border: none;
    background-color: $color__primary;
    color: $color__white;

    &__DARK {
      background-color: $color__dark-theme__white;
      color: $color__dark-theme__black;
    }
  }
}
