@import '../../../styles/utils/variables/colors';

.breadcrumbContainer {
  display: flex;
  gap: 8px;
}

.link {
  display: flex;
  gap: 8px;
  align-items: flex-end;
  color: $color__secondary;
  font-size: 12px;
  font-weight: 600;

  &__DARK {
    color: $color__dark-theme__secondary;
  }
}

