@import '../../../styles/utils/mixins/mixin-media';

.breadcrumbs {
  grid-column: span 4;

  @include onTablet {
    grid-column: span 12;
  }

  @include onDesktop {
    grid-column: span 24;
  }
}
