@import '../../../styles/utils/variables/colors';
@import '../../../styles/utils/mixins/mixin-media';

.header {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 100;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $color__elements;
  background-color: #fff;

  &__left {
    padding: 0 16px;

    display: flex;
    align-items: center;
    gap: 32px;
  }

  &__right {
    display: flex;
  }

  &__logo {
    width: 64px;
    height: 22px;
  }

  &__burger_icon {
    width: 48px;
    height: 48px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    border-left: 1px solid $color__elements;
    background-color: #fff;
  }

  &__nav {
    display: none;
    align-items: center;
    gap: 32px;
  }

  &__link {
    position: relative;
    text-decoration: none;
    color: $color__secondary;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 12px;

    &::after {
      content: '';
      position: absolute;
      top: 28px;
      display: block;
      height: 3px;
      right: 100%;
      left: 100%;
      background-color: $color__primary;
    }

    &__ISACTIVE {
      color: $color__primary;
    }

    &__ISACTIVE::after {
      right: 0;
      left: 0;
      transition: left 0.3s, right 0.3s;
    }
  }

  &__icon {
    width: 48px;
    height: 48px;

    display: none;
    align-items: center;
    justify-content: center;

    border-left: 1px solid $color__elements;
  }


  @include onTablet {
    &__burger_icon {
      display: none;
    }

    &__nav {
      display: flex;
    }

    &__link {
      padding: 12px 0;

      &::after {
        top: 40px;
      }
    }

    &__icon {
      display: flex;

      & .header__link {
        padding: 12px;
      }

      & .header__link__ISACTIVE::after {
        top: 42px;
        left: -5px;
        right: -5px;
      }
    }
  }

  @include onDesktop {
    &__logo {
      width: 80px;
      height: 28px;
    }

    &__left {
      padding: 0 24px;
      gap: 48px;
    }

    &__icon {
      width: 64px;
      height: 64px;

      & .header__link {
        padding: 20px;
      }

      & .header__link__ISACTIVE::after {
        top: 58px;
      }
    }

    &__link {
      padding: 20px 0;

      &::after {
        top: 56px;
      }
    }
  }
}

.headerDark {
  background-color: $color__dark-theme__black;
  border-bottom: 1px solid $color__dark-theme__surface-2;

  & .header__link {
    color: $color__dark-theme__secondary;

    &__ISACTIVE {
      color: $color__dark-theme__white;
    }

    &::after {
      background-color: $color__dark-theme__white;
    }
  }

  & .header__icon {
    border-left: 1px solid $color__dark-theme__surface-2;
    ;
  }

  & .header__burger_icon {
    background-color: $color__dark-theme__black;
    border-left: 1px solid $color__dark-theme__surface-2;
  }
}
