@import '../../../styles/utils/variables/colors';
@import '../../../styles/utils/mixins/mixin-media';

.header {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 100;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $color__elements;
  background-color: $color__white;

  &__left {
    padding: 0 16px;

    display: flex;
    align-items: center;
    gap: 32px;
  }

  &__right {
    display: flex;
  }

  &__logo {
    width: 64px;
    height: 22px;
  }

  &__burger_icon {
    width: 48px;
    height: 48px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    border-left: 1px solid $color__elements;
    background-color: $color__white;
  }

  &__nav {
    display: none;
    align-items: center;
    gap: 32px;
  }

  &__link {
    position: relative;
    text-decoration: none;
    color: $color__secondary;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 12px;

    &::after {
      content: '';
      position: absolute;
      top: 28px;
      display: block;
      height: 3px;
      right: 100%;
      left: 100%;
      background-color: $color__primary;
    }

    &__ISACTIVE {
      color: $color__primary;
    }

    &__ISACTIVE::after {
      right: 0;
      left: 0;
      transition: left 0.3s, right 0.3s;
    }
  }

  &__icon {
    width: 48px;
    height: 48px;

    display: none;
    align-items: center;
    justify-content: center;

    border-left: 1px solid $color__elements;
  }

  &__themeSwitch {
    position: relative;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

    &_input {
      position: absolute;
      opacity: 0;
      z-index: 1;
      cursor: pointer;

      &:checked ~ .header__themeSwitch_label {
        background-color: $color__secondary;

        & span::after {
          transform: translate3d(22px, 0, 0);
          background-color: $color__white;
        }
      }
    }

    &_label {
      position: relative;
      transition: background-color 200ms ease-in-out;
      width: 38px;
      height: 16px;
      border-radius: 50px;
      text-align: center;
      background-color: $color__white;
      box-shadow: -1px 1px 5px inset rgba(0, 0, 0, 0.4);
      cursor: pointer;

      &::before,
      &::after {
        font-size: 2rem;
        position: absolute;
        transform: translate3d(0, -50%, 0);
        top: 50%;
      }

      & span {
        position: absolute;
        bottom: calc(100% + 10px);
        left: 0;
        width: 100%;

        &::after {
          position: absolute;
          top: calc(100% + 12px);
          left: 2px;
          width: 12px;
          height: 12px;
          content: '';
          border-radius: 50%;
          background-color: $color__secondary;
          transition: transform 200ms, background-color 200ms;
          box-shadow: -3px 3px 8px rgba(0, 0, 0, 0.4);
        }
      }
    }
  }

  &__favorites {
    height: 13px;
    width: 13px;
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 9px;
    font-weight: 600;
    color: $color__white;
    text-align: center;
    line-height: 12px;

    background-color: $color__secondary-accent;
    border-radius: 50%;
    border: 1px solid $color__white;
  }


  @include onTablet {
    &__burger_icon {
      display: none;
    }

    &__nav {
      display: flex;
    }

    &__link {
      padding: 12px 0;

      &::after {
        top: 40px;
      }
    }

    &__icon {
      display: flex;

      & .header__link {
        padding: 12px;
      }

      & .header__link__ISACTIVE::after {
        top: 42px;
        left: -5px;
        right: -5px;
      }
    }
  }

  @include onDesktop {
    &__logo {
      width: 80px;
      height: 28px;
    }

    &__left {
      padding: 0 24px;
      gap: 48px;
    }

    &__icon {
      width: 64px;
      height: 64px;

      & .header__link {
        padding: 20px;
      }

      & .header__link__ISACTIVE::after {
        top: 58px;
      }
    }

    &__link {
      padding: 20px 0;

      &::after {
        top: 56px;
      }
    }

    &__favorites {
      top: 13px;
      right: 13px;
    }
  }
}

.headerDark {
  background-color: $color__dark-theme__black;
  border-bottom: 1px solid $color__dark-theme__surface-2;

  & .header__link {
    color: $color__dark-theme__secondary;

    &__ISACTIVE {
      color: $color__dark-theme__white;
    }

    &::after {
      background-color: $color__dark-theme__white;
    }
  }

  & .header__icon {
    border-left: 1px solid $color__dark-theme__surface-2;
    ;
  }

  & .header__burger_icon {
    background-color: $color__dark-theme__black;
    border-left: 1px solid $color__dark-theme__surface-2;
  }

  & .header__favorites {
    background-color: $color__red;
    border-color: $color__dark-theme__black;
  }
}
