@import '../../../styles/utils/variables/colors';
@import '../../../styles/utils/mixins/mixin-media';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $color__elements;

  &__left {
    padding: 0 16px;

    display: flex;
    align-items: center;
    gap: 32px;
  }

  &__right {
    display: flex;
  }

  &__logo {
    width: 64px;
    height: 22px;
  }

  &__burger_icon {
    width: 48px;
    height: 48px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    border: none;
    border-left: 1px solid $color__elements;
    background-color: #fff;
  }

  &__burger {
    display: block;
    position: fixed;
    z-index: 10;
    height: 100vh;
    left: 0;
    right: 0;
    margin-top: 50px;
    padding-top: 32px;

    background-color: #fff;
    opacity: 0;
    transition: 0.3s all;

    &__IsOpen {
      opacity: 1;
    }
  }

  &__burger_menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    background-color: #fff;
  }

  &__burger {
    display: block;
    position: fixed;
    z-index: 10;
    height: 100vh;
    left: 0;
    right: 0;
    margin-top: 50px;
    padding-top: 32px;

    background-color: #fff;
    opacity: 0;
    transition: 0.3s all;

    &__IsOpen {
      opacity: 1;
    }
  }

  &__burger_menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }

  &__nav {
    display: none;
    align-items: center;
    gap: 12px;
  }

  &__link {
    padding: 10px 10px;
    position: relative;
    text-decoration: none;
    color: $color__secondary;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 12px;

    &::after {
      content: '';
      position: absolute;
      top: 30px;
      display: block;
      height: 3px;
      right: 100%;
      left: 100%;
      background-color: $color__primary;
    }

    &__ISACTIVE {
      color: $color__primary;
    }

    &__ISACTIVE::after {
      right: 10px;
      left: 10px;
      transition: right 0.3s, left 0.3s;
    }
  }

  &__icon {
    width: 48px;
    height: 48px;

    display: none;
    align-items: center;
    justify-content: center;

    border-left: 1px solid $color__elements;
  }

  @include onTablet {
    &__burger {
      display: none;
    }

    &__burger_icon {
      display: none;
    }

    &__burger_icon {
      display: none;
    }

    &__nav {
      display: flex;
    }

    &__link::after {
      top: 38px;
    }

    &__icon {
      display: flex;

      & .header__link__ISACTIVE::after {
        top: 40px;
        left: -6px;
        right: -6px;
      }
    }
  }

  @include onDesktop {
    &__logo {
      width: 80px;
      height: 28px;
    }

    &__left {
      padding: 0 24px;
      gap: 48px;
    }

    &__icon {
      width: 64px;
      height: 64px;

      & .header__link__ISACTIVE::after {
        top: 58px;
        left: -14px;
        right: -14px;
      }
    }

    &__link {
      padding: 20px 10px;

      &::after {
        top: 56px;
      }
    }
  }
}
