@import '../../../../styles/utils/mixins/mixin-media';
@import '../../../../styles/utils/variables/colors';

// .slider-container {
//   @include onMobile {
//     grid-column: 1 / -1;
//   }

//   @include onTablet {
//     grid-column: 2 / 7;
//   }

//   @include onDesktop {
//     grid-column: 3 / 13;
//   }
// }

.slick-prev-phone,
.slick-next-phone {
  display: none;
  visibility: hidden;
}

#phoneImagesSlider {
  .slick-track {
    display: flex;
    height: 464px !important;
  }
}

.phonePhoto {
  @include onMobile {
    height: 288px;
    object-fit: contain;
    margin-inline: auto;
  }

  @media (min-width: 430px) and (max-width: 539px) {
    height: 387px;
    object-fit: contain;
  }

  @media (min-width: 540px) and (max-width: 639px) {
    height: 486px;
    object-fit: contain;
  }


  @include onTablet {
    width: 288px;
    height: 288px;
    object-fit: contain;
  }

  @media (min-width: 740px) and (max-width: 839px) {
    width: 320px;
    height: 320px;
    object-fit: contain;
  }

  @media (min-width: 840px) and (max-width: 939px) {
    width: 353px;
    height: 353px;
    object-fit: contain;
  }

  @media (min-width: 940px) and (max-width: 1039px) {
    width: 385px;
    height: 385px;
    object-fit: contain;
  }

  @media (min-width: 1040px) and (max-width: 1119px) {
    width: 418px;
    height: 418px;
    object-fit: contain;
  }

  @media (min-width: 1120px) and (max-width: 1199px) {
    width: 444px;
    height: 444px;
    object-fit: contain;
  }

  @include onDesktop {
    width: 464px;
    height: 464px;
    object-fit: contain;
  }
};

.slick-dots,
.slick-thumb {
  cursor: pointer;
  object-fit: contain;
  padding-block: 4px;

  @include onMobile {
    height: 40px;
    width: 51px;
  }

  @include onTablet {
    height: 28px;
    width: 28px;
  }

  @media (min-width: 740px) and (max-width: 839px) {
    height: 32px;
    width: 32px;
  }

  @media (min-width: 840px) and (max-width: 939px) {
    height: 38px;
    width: 38px;
  }

  @media (min-width: 940px) and (max-width: 1039px) {
    height: 43px;
    width: 43px;
  }

  @media (min-width: 1040px) and (max-width: 1119px) {
    height: 48px;
    width: 48px;
  }

  @media (min-width: 1120px) and (max-width: 1199px) {
    height: 53px;
    width: 53px;
  }

  @include onDesktop {
    height: 67px;
    width: 67px;
  }
}

// #phone-photo {
//   // width: auto !important;
//   // height: 464px !important;
//   img {
//     // width: auto !important;
//   }
// }

.vertical-dots {
  @include onMobile {
    margin-top: 32px;
  }

  @include onTablet {
    margin-top: 40px;
  }

  @include onDesktop {
    margin-top: 40px;
  }

  ul {
    display: flex !important;
    flex-direction: column;
    margin-right: 16px;
    width: auto !important;
    margin-top: 0 !important;
    z-index: 1000;

    @include onMobile {
      flex-direction: row;
      margin-right: 0px;
      justify-content: center;
      margin-top: 16px !important;
    }

    @include onTablet {
      :last-child {
        margin-bottom: 0px;
      }
    }

    @include onDesktop {
      :last-child {
        margin-bottom: 0px;
      }
    }

    li {
      width: 80px;
      height: 79px;
      display: flex;
      justify-content: center;
      align-items: center;

      @include onMobile {
        width: 48px;
        height: 48px;
      }

      @include onTablet {
        width: 35px;
        height: 34px;
      }
      @media (min-width: 740px) and (max-width: 839px) {
        width: 40px;
        height: 39px;
      }

      @media (min-width: 840px) and (max-width: 939px) {
        width: 46px;
        height: 45px;
      }

      @media (min-width: 940px) and (max-width: 1039px) {
        width: 51px;
        height: 50px;
      }

      @media (min-width: 1040px) and (max-width: 1119px) {
        width: 56px;
        height: 55px;
      }

      @media (min-width: 1120px) and (max-width: 1199px) {
        width: 61px;
        height: 60px;
        object-fit: contain;
      }

      @include onDesktop {
        width: 80px;
        height: 79px;
      }

      a {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  li {
    @include onMobile {
      width: 51px !important;
      margin-right: 8px;
    }

    @include onTablet {
      margin-bottom: 8px;
    }

    @include onDesktop {
      margin-bottom: 16px;
    }
  }

  @include onTablet {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 16px;
    cursor: pointer;
  }

  @include onDesktop {
    display: flex;
    flex-direction: row-reverse;
    cursor: pointer;
    margin-right: 16px;
  }
}

.dots-container {
  display: flex;
  flex-direction: column;
}

.dots-border-light-cur {
    border: 1px solid $color__primary;
    border-radius: 4px;
}

.dots-border-light {
    border: 1px solid $color__elements;
    border-radius: 4px;
}

.dots-border-dark {
    border: 1px solid $color__dark-theme__elements;
    border-radius: 4px;
}

.dots-border-dark-cur {
    border: 1px solid $color__dark-theme__white;
    border-radius: 4px;
}
