@import '../../../../styles/blocks/grid';
@import './slick.scss';

.container {
  @extend .grid;
}

.slider {
  position: relative;
  width: 100%;
  height: 432px;
  border: none;
  box-sizing: border-box;

  @include onMobile {
    grid-column: 1 / -1;
  }

  @include onTablet {
    grid-column: 2 / 12;
  }

  @include onDesktop {
    grid-column: 2 / 24;
  }
}

.sliderPhoto {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 320px;

  object-fit: cover;
  object-position: center center;

  @include onTablet {
    height: 400px;
  }

  @include onDesktop {
    height: 400px;
  }
}
