@import '../../../styles/utils/variables/colors';

.addToFavourite {
  background-image: url('../../../static/buttons/fovourites-default_button.svg');

  margin-left: 8px;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $color__white;

  border-radius: 48px;
  border: 1px solid $color__icons;

  &:hover {
    transition: border 0.3s ease;
    border: 1px solid $color__primary;
  }

  &__SELECTED {
    background-image: url('../../../static/buttons/fovourites-selected_button.svg');

    border: 1px solid $color__elements;
  }

  &__DARK {
    background-image: url('../../../static/buttons/fovourites-default_button_dark.svg');

    background-color: $color__dark-theme__surface-2;
    border-radius: 0px;
    border: none;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $color__dark-theme__icons;
    }

    &__SELECTED {
      background-image: url('../../../static/buttons/fovourites-selected_button_dark.svg');

      border: 1px solid $color__dark-theme__elements;
      border-radius: 0px;
      background-color: $color__dark-theme__black;
    }
  }
}