@charset "UTF-8";
@import '../../../../styles/utils/mixins/_mixin-media.scss';

$slick-loader-path: "./" !default;
$slick-arrow-color: #e2e6e9 !default;
$slick-dot-color: black !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-prev-character: "\2190" !default;
$slick-next-character: "\2192" !default;
$slick-dot-character: "\2022" !default;
$slick-dot-size: 6px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

/* Arrows */
  @include onTablet {
    .slick-prev,
    .slick-next {
        position: absolute;
        display: block;
        height: 400px;
        width: 32px;
        line-height: 0px;
        font-size: 0px;
        cursor: pointer;
        border: 1px solid #89939a !important;
        border-radius: 48px;
        background: transparent;
        color: transparent;
        top: 46.5% ;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        padding: 0;
        border: none;
        outline: none;
        &:hover, &:focus {
            outline: none;
            color: transparent;
            &:before {
                opacity: $slick-opacity-on-hover;
            }
        }
        &.slick-disabled:before {
            opacity: $slick-opacity-not-active;
        }
        &:before {
            color: $slick-arrow-color;
            opacity: $slick-opacity-default;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
    }

    .slick-prev {
        left: -49px;
        z-index: 10;
        [dir="rtl"] & {
            left: auto;
            right: 25px;
        }
        padding:0 5px 0 0;
        &:before {
            content: url("./icons/Buttons/Icons/ArrowLeft.svg");
            position: absolute;
            top: 50%;
            left: 25%;

            // &__dark {
            //   content: url("./icons/Buttons/Icons/ArrowLeftLight.svg");
            // }
            // [dir="rtl"] & {
            //     content: url("./icons/Buttons/Icons/ArrowLeft.svg");
            // }
        }
    }

    .slick-next {
        right: -49px;
        [dir="rtl"] & {
            left: 25px;
            right: auto;
        }
        &:before {
            content: url("./icons/Buttons/Icons/ArrowRight.svg");
            position: absolute;
            top: 50%;
            left: 25%;

            // &__dark {
            //   content: url("./icons/Buttons/Icons/ArrowRightLight.svg");
            // }

            // [dir="rtl"] & {
            //     content: url("./icons/Buttons/Icons/ArrowRight.svg");
            // }
        }
    }
  }

  @include onDesktop {
    .slick-prev,
    .slick-next {
        position: absolute;
        display: block;
        height: 400px;
        width: 32px;
        line-height: 0px;
        font-size: 0px;
        cursor: pointer;
        border: 1px solid #89939a !important;
        border-radius: 48px;
        background: transparent;
        color: transparent;
        top: 46.5% ;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        padding: 0;
        border: none;
        outline: none;
        &:hover, &:focus {
            outline: none;
            background: transparent;
            color: transparent;
            &:before {
                opacity: $slick-opacity-on-hover;
            }
        }
        &.slick-disabled:before {
            opacity: $slick-opacity-not-active;
        }
        &:before {
            font-size: 20px;
            line-height: 1;
            color: $slick-arrow-color;
            opacity: $slick-opacity-default;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
    }

    .slick-prev {
        left: -49px;
        z-index: 10;
        [dir="rtl"] & {
            left: auto;
            right: 25px;
        }
        &:before {
            content: url("./icons/Buttons/Icons/ArrowLeft.svg");
            [dir="rtl"] & {
                content: $slick-next-character;
            }
        }
    }

    .slick-next {
        right: -49px;
        [dir="rtl"] & {
            left: 25px;
            right: auto;
        }
        &:before {
            content: url("./icons/Buttons/Icons/ArrowRight.svg");
            [dir="rtl"] & {
                content: $slick-prev-character;
            }
        }
    }
  }

/* Dots */
.slick-dots {
    margin-top: 8px;
    bottom: -25px;
    list-style: none;
    text-align: center;
    padding: 0;
    width: 100%;
    li {
        position: relative;
        display: inline-block;

        padding: 0;
        cursor: pointer;
        button {
            border: 0;
            background: transparent;
            width: 24px;
            height: 24px;
            margin: 0 4px;
            padding: 0;

            cursor: pointer;

            color: transparent;

            &:hover {
                outline: none;
                &:before {
                    opacity: $slick-opacity-on-hover;
                }
            }
            &:before {
                line-height: 24px;
                text-align: center;
                opacity: $slick-opacity-not-active;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                display: block;
                position: absolute;

                content: '';

                width: 14px;
                height: 4px;
                background-color: #0f0f11;
                margin-top: 7px;
                margin-left: 4px;

                opacity: 0.25;
                color: #89939a;

                &__dark {
                  background-color: #f1f2f9;
                }
            }
        }
        &.slick-active button:before {
            opacity: $slick-opacity-default;
        }
    }
}
