@import '../../styles/utils/variables/colors';

.pagination {
  display: flex;

  &__item {
    width: 32px;
    height: 32px;
    border-radius: 48px;
    border: 1px solid $color__icons;
  }

  &__numbers {
    margin-left: 16px;
    margin-right: 16px;
    margin-inline: 8px;
  }

  &__number {
    color: #000;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;

    &:hover {
      border: 1px solid $color__primary;
    }

    &__SELECTED {
      background: $color__primary;
    }

    &__DARK {
      border-radius: 0px;
      background-color: #161827;

      &:hover {
        background-color: $color__dark-theme-elements;
      }

      &__SELECTED {
        background-color: $color__dark-theme-accent;
      }
    }
  }

  &__arrow {
    // width: 32px;
    // height: 32px;
    // border-radius: 48px;
    // border: 1px solid $color__icons;

    background-image: url('../../../../static/buttons/Button_DefaultArrowLeft.svg');

    
    &:hover {
      border: 1px solid $color__primary;
    }

    &:disabled {
      border: 1px solid $color__elements;
      background-image: url('../../../../static/buttons/Button_DisabledArrowLeft.svg');
    }

    &__RIGHT {
      background-image: url('../../../../static/buttons/Button_DefaultArrowRight.svg');

      &:disabled {
        background-image: url('../../../../static/buttons/Button_DisabledArrowRight.svg');
      }
    }

    &__DARK {
      border-radius: 0px;
      background-color: $color__dark-theme-secondary;
      background-image: url('../../../../static/buttons/Button_DarkDefaultArrowLeft.svg');

      &:hover {
        background-color: #4A4D58;
      }

      &:disabled {
        background-color: $color__dark-theme-background;
        border: 1px solid $color__dark-theme-elements;
        background-image: url('../../../../static/buttons/Button_DarkDisabledArrowLeft.svg');
      }

      &__RIGHT {
        background-image: url('../../../../static/buttons/Button_DarkDefaultArrowRight.svg');

        &:disabled {
          background-image: url('../../../../static/buttons/Button_DarkDisabledArrowRight.svg');
        }
      }
    }
  }
}